@media (min-width: 436px) {
    .gallery-image {
        height: 180px;
        width: 180px;
        object-fit: cover;
        background-color: white;
    }
    .gallery-item-info {
        display: flex;
        width: 180px;
        padding: 5px;
    }
}

@media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
    .category li {
        width: 18%;
    }
    .yen {
        display: flex;
        padding: 10px;
    }
    #price {
        width: 40%;
        margin-left: 14px;
    }
    .profile-info {
        margin-top: 60px;
    }
}

@media (min-width: 992px) {
    #top-row {
        width: 80%;
    }
    .gallery {
        display: flex;
        width: 75%;
    }
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
    .nav-button {
        margin-right: 80px;
    }
    #reg {
        width: 70%;
    }
    #form {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    #top-responsive {
        display: none;
    }
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }

    #navber-item-button2 a {
        visibility: visible;
    }
    #navber-responsive-auth,
    #navber-responsive {
        display: none;
    }
}

@media (min-width: 1400px) {
}

@media (max-width: 459px) {
    .gallery-image {
        height: 250px;
        width: 250px;
        object-fit: cover;
        background-color: white;
    }
    .gallery-item-info {
        display: flex;
        width: 250px;
        padding: 5px;
    }
}

@media (max-width: 640px) {
    .navber-title {
        display: flex;
        position: absolute;
        left: 30px;
        right: 30px;
        top: 50px;
    }
    #nav {
        padding-bottom: 60px;
    }
}

@media (max-width: 770px) {
    .yen {
        display: flex;
        padding: 10px;
    }

    #price {
        width: 40%;
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .top-pc {
        display: none;
    }
    #nav-icon {
        display: none;
    }
    #navber-item {
        display: none;
    }

    #navber-item-button a,
    #navber-item-button1 a,
    #navber-item-button2 a {
        text-decoration: none;
        border: none;
        background-color: white;
        text-align: center;
    }
    #navber-item-button1 {
        text-align: right;
    }

    .nav-button {
        margin-top: 20px;
    }
    .nav-search,
    .nav-category,
    .nav-prefecture {
        margin-top: 5px;
    }
    #navber-item-icon {
        display: none;
    }
}

@media (max-width: 1200px) {
    #navber-item {
        display: none;
    }

    #navber-responsive,
    #navber-responsive-auth {
        text-align: center;
    }
    #navber-responsive a,
    #navber-responsive-auth a {
        width: 70%;
        font-size: 1.3em;
        color: black;
    }
    #navber-responsive-log {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 5px;
    }
    #navber-responsive-reg {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #navber-responsive-log a,
    #navber-responsive-reg a {
        font-size: 1.3em;
    }
}

#navFormControl {
    margin-top: 1px;
    border-radius: 4px;
    border: none;
}

#navFormControlButton {
    border-radius: 25px;
    padding: 12px;
    width: 100%;
    background-color: white;
    color: black;
}

.products_gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    width: 100%;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.profile {
    padding: 5rem 0;
}

.profile-info {
    width: 100%;
}
.profile-info td {
    padding: 5px 0;
}

.profile-info-yen {
    font-size: 1.4em;
}
.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    background-color: white;
}

.gallery-item-each {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    background-size: cover;
    display: flex;
    position: absolute;
}

.gallery-item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.2s;
}
.gallery-item {
    transition: 0.5s;
}

.gallery-image {
    margin: 0 auto;
}

.gallery-category {
    border-top: 1px solid lightgray;
}

.gallery-category-item {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.category {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.category li {
    list-style: none;
    opacity: 0.8;
    border: 1px solid gray;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    margin: 5px;
}

.category a {
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

#header {
    border: none;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

.container {
    margin-top: 30px;
}
#top-row {
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    margin: 10px auto;
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        background-color: white;
        column-gap: 5px;
        row-gap: 22px;
        margin: 50px auto;
    }
    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item {
        width: auto;
        margin: 0;
    }
}

@media (max-width: 40rem) {
    .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem;
    }

    .profile-image {
        grid-row: 1 / 2;
    }

    .profile-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
    }

    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
        grid-column: 1 / -1;
    }

    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
        margin: 0;
    }
}

#unfavorite {
    color: #68be8d;
    border-color: #68be8d;
    font-size: 0.8em;
}
#favorite {
    color: #68be8d;
    border-color: #68be8d;
}

footer {
    position: absolute;
    background-color: #e9ecef;
    width: 100%;
    padding: 50px 0 50px 0px;
    margin-top: 300px;
}
.footer-item {
    display: flex;
    flex-wrap: wrap;
}

.footer-item a {
    color: black;
    font-size: 0.8em;
    padding: 5px;
}
.footer-item li {
    list-style: none;
    top: 0;
}

.footer-title {
    border-radius: 25px;
    background-color: #e8e8e8;
    text-align: center;
    padding: 2px 0px;
    width: 60px;
    font-size: 0.8em;
}

.tab_wrap {
    width: 90%;
    margin: auto;
}

input[type="radio"] {
    display: none;
}
.tab_area {
    margin: 0 10px;
    border-bottom: 1px solid lightgray;
}
.tab_area label {
    margin: 0 5px;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: ease 0.2s;
}
.tab_area label:hover {
    opacity: 0.5;
}

.tab_panel {
    width: 100%;
    padding: 30px 0;
    display: none;
}

#tab1:checked ~ .tab_area .tab1_label,
#tab2:checked ~ .tab_area .tab2_label,
#tab3:checked ~ .tab_area .tab3_label,
#tab4:checked ~ .tab_area .tab4_label,
#tab5:checked ~ .tab_area .tab5_label {
    background: #fff;
    color: #000;
}
#tab1:checked ~ .panel_area #panel1,
#tab2:checked ~ .panel_area #panel2,
#tab3:checked ~ .panel_area #panel3,
#tab4:checked ~ .panel_area #panel4,
#tab5:checked ~ .panel_area #panel5 {
    display: block;
}
